---
layout: default
---
<div class="wrapper">
    <article class="post">

        <header class="post-header">
            <img src="https://img.shields.io/badge/MIKUDOS-{{ page.collectionName }}-{{ page.collectionColor }}?style=for-the-badge&logo=appveyor"
                alt="" srcset="">
            <img src="https://raw.githubusercontent.com/mikudos/doc/master/mikudos-logo.png" alt="" srcset="">
            <h1 class="post-title">{{ page.subtitle | escape }}</h1>
        </header>

        <div class="post-content">
            {{ content }}
        </div>

    </article>
</div>